@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Spectral SC", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --text-color-default: #000000;
    --text-color-light: #FFFFFF;
    --bg-color-green: #004D40;
    --bg-color-beige: #BCAAA4;
    --bg-color-brown: #3E2723;
    --bg-color-neutral: #595959;
}

/* -------------------------/-------------------------- */

/* HEADER SECTION */

header {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

/* HEADER LOGO */

.logo__img {
    height: 90px;
}

.logo__img img {
    width: 169px;
    height: 141px;
}

/* HEADER LOGO END*/

/* HEADER TITLE */

.header__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__title h1 {
    font-size: 60px;
    font-weight: 600;
    color: var(--bg-color-green);
}

.header__title p {
    width: 80%;
    font-size: 20px;
}

/* HEADER TITLE */

/* HEADER SECTION END*/


/* -------------------------/-------------------------- */


/* MAIN CONTENT SECTION */

.main__content {
    margin: 50px auto;
    width: 70%;

    display: grid;
    grid-template-columns: 40% 60%;
    gap: 60px 0;
    justify-content: center;
}

.main__img {
    width: 313px;
}

.main__img img {
    width: 100%;
    height: auto;
}

.main__img label {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 10px;
    text-align: justify;
}

.main__text p {
    font-size: 18px;
    text-align: justify;

    margin-bottom: 20px;
}

/* MAIN CONTENT SECTION END*/

/* -------------------------/-------------------------- */

/* TILES TABLE */

.tiles__table {
    margin-top: 20px;
}

.container {
    margin: 0 auto;
    width: 70%;
}

.tiles__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px 20px;
    flex-wrap: wrap;
}

.tile__card {
    max-width: 310px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

    font-size: 14px;
}


.tile__card h3 {
    font-weight: 600;
}

.tile__card span {
    font-size: 14px;
    margin-top: auto; 
}


.tile__img img {
    width: 310px;
    height: 189px;
}


.tile__info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; 
}

.hidden {
    display: none; 
}

.info__content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 45%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.info__content img {
    width: 310px;
    height: 189px;

    transition: transform ease-in-out 0.1s;
}

.info__content img:hover { 
    transform: scale(2.4); 
}

.info__content p { 
    font-size: 14px;
}

/* TILES TABLE END*/

/* MURALIZED TILES SECTION */
.mural__tiles {
    margin: 100px auto;
    width: 70%;

    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.murals__info {
    text-align: justify;  

}

.murals__info h1{
   font-size: 34px;
   font-weight: 600;
   text-align: justify;  
   color: var(--bg-color-green);
   margin-bottom: 10px;
}

.murals__img img {
    width: 634px;
    height: 459px;

    padding: 15px;
}

.murals__img label {
    display: block;
    width: 100%;
    padding: 0 15px;
    line-height: 1.5;
    text-align: justify;
    font-size: 14px;
}

.murals__exhibits {
    margin: 100px auto;
    width: 70%;

    display: flex;
    flex-direction: column;
    gap: 60px;
}

.exibits__img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 30px;
}

.exibits__img img {
    width: 310px;
    height: 256px;
}

.exibits___desc h4{
    margin: 30px 0 5px;
    font-weight: 600;
}

.exibits___desc p{
    font-size: 14px;
}
/* MURALIZED TILES SECTION END*/

/* LINK BUTTONS SETTINGS */

.links {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.links a {
    text-decoration: none;
}

.links .link {
    width: 220px;
    height: 78px;
    color: var(--text-color-light);
}


.links .link h1{
   text-transform: uppercase;
   position: relative;
   padding: 2px 15px;

   font-weight: 400;
   font-size: 24px;
   letter-spacing: 2px;
}

.links .link p{
    text-transform: capitalize;
    padding: 8px 15px 0;
 }
 

.links .link h1::after {
    content: "";
    display: block;
    width: 100%; 
    height: 2px; 
    background-color: var(--text-color-light);
    opacity: 50%; 
    position: absolute;
    bottom: -5px; 
    left: 0;
}

.links .main {
    background-color: var(--bg-color-neutral);
}

.links .tiles {
    background-color: var(--bg-color-green);
}

.links .plates {
    background-color: var(--bg-color-beige);
}

.links .bricks {
    background-color: var(--bg-color-brown);
}

/* LINK BUTTONS SETTINGS END*/